.cardContainer {
    height: 370px;

    max-width: 350px;
    padding: 8px;
    background: linear-gradient(180deg, #0a0aa8, hwb(257 0% 97%));
    opacity: 0.9;
    border-radius: 55px;

    cursor: pointer;
    transition: transform 0.3s ease;
}

.cardContainer:hover {
    transform: scale(1.02);
}

.imageContainer {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
    overflow: hidden;
    /* Ensure the overlay stays within bounds */
}

.imageContainer::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    /* Adjust the height as needed */
    background: linear-gradient(transparent, #02021e);
    pointer-events: none;
    /* Ensures the overlay doesn't interfere with interactions */
    border-radius: 45px;
}


.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 45px;
}


.p {
    z-index: 2;
    font-size: 20px;

    color: bisque;
    font-weight: 500;

    position: absolute;
    bottom: 10px;
    padding: 0 20px;
}

.p::first-letter {
    text-transform: capitalize;
}