.container {
    display: grid;
    grid-template-areas:
        "top"
        "bottom";

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.top {
    grid-area: top;
}

.bottom {
    grid-area: bottom;
}